html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    margin-top: 180px;
}
/*
.wrap > .container {
    padding: 70px 15px 20px;
}*/

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.odd{
  background-color: whitesmoke;
}
#welcome {
    background-color: #f5f5f599;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0px;
    left: 0px;
}
#welcome div {
  background-color: white;
  width: 100%;
  height: 45%;
  position: fixed;
  top: 30%;
  text-align: center;
  border: 3px solid #d0eaf6;
  border-width: 3px 0px;
 }
#welcome h1 {
  margin-top: 80px;
  border: none;
}
#welcome h2 {
  margin-top: 80px;
  border: none;
}


td,th {
    padding: 10px !important;
}
.ui-datepicker td{
  padding: 0px !important;
}
.navbar{
  min-height: 80px !important;
}
.navbar-inverse {
    background-color: #375771;
    border-color: #94dbe1;
    border-width: 0 0 10px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fffdfd;
    background-color: #79c2d2;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #33879e;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
  background-color: #33879e;
}
.img-responsive.col-md-4 {
    margin-top: -0px;
    width: 200px;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: inherit !important;
    background-color: inherit !important;
}
.info span {
    margin-bottom: 5px;
    display: inline-block;
}
#historique{
  border-right: 1px solid silver;
  height: 400px;
  overflow-y: auto;
  padding-right: 15px;
}
body{
  color: #636363 !important;
}
.selected{
  background-color: #c4ecff;
}
hr{
  border-width: 3px;
}
.row.container-fluid{
  min-height: 90px;
}
.visite {
    color: #1d89e7;
    cursor: pointer;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
#loading{
  position: fixed;
  top:0;
width: 100%;
height: 100%;
background-color: #f5f5f580;
z-index: 100;

}
#loading div {
    width: 50%;
    margin: auto;
    margin-top: 20%;
    text-align: center;
}
.next-visit-container  {
    position: relative;
}
#saved {
    position: absolute;
    top: 35px;
}
h1,h2,h3,h4{
  margin-bottom: 40px;
  color: #476e6e;
  border: 1px solid #6cabab;
  padding: 10px;

}
div.dataTables_length label {

    margin-left: 25px !important;
}
.print{
  font-size: 1.4em;
  cursor: pointer;
}
